*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(44, 44, 44);
    font-family: 'Open Sans', sans-serif;
}

.container{
    padding: 5%;
    display: flex;
    justify-content: space-between;
}

.container .menu{
    width: 80%;
}

.container .menu .header{
    font-family: 'Poppins', sans-serif;
    color: white;
}

.container .menu .header p {
    opacity: 0.5;
}

.container .menu .tags{
    margin-top: 5%;
}

.container .menu .tags .tag{
    height: 80px;
    width: 150px;
    background-color: rgb(34, 34, 34);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.container .menu .tags .tag .icon{
    height: 40px;
    width: 40px;
    margin-right: 5%;
}

.container .menu .tags .tag .icon img{
    width: 100%;
}

.container .orders{
    width: 30%;
}

.container .orders .header h1{
    font-family: 'Poppins', sans-serif;
}

/************
----PRODUCTS
*************/

.container .products{
    height: 300px;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.container .products::-webkit-scrollbar{
    -webkit-appearance: none;
    width: 8px;
}

.container .products::-webkit-scrollbar-track{
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
}

.container .products::-webkit-scrollbar-thumb{
    background-color: rgba(247, 74, 74, 0.377);
    border-radius: 12px;
}

.container .products .product{
    height: 290px;
    width: 250px;
    background-color: rgb(34, 34, 34);
    border-radius: 12px;
    padding: 2%;
    margin: 1%;
}

.container .products .product .image{
    height: 150px;
    width: 220px;
    overflow: hidden;
}

.container .products .product .image img{
    width: 100%;
}

.container .products .product .title{
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: 5%;
    height: 70px;
    overflow: hidden;
}

.container .products .product .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .products .product .price{
    color: #fff;
}

.container .products .product .cart{
    color: #fff;
    cursor: pointer;
    margin-right: 2%;
}

.container .products .product .cart i{
    font-size: 1.5rem;
    cursor: pointer;
}

/**************
OrderProduct
***************/

.orders .header h2{
    color: aliceblue;
}

.orders .header p{
    color: #b8b8b8;
}

.orders .orderdproducts {
    margin-top: 5%;
    height: 300px;
    width: 420px;
    overflow-y: auto;
}

.orders .orderdproducts .tenis{
    height: 80px;
    width: 400px;
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 5%;
}

.orders .orderdproducts .tenis .icon{
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 5%;
}

.orders .orderdproducts .tenis .icon img{
    width: 130%;
}

.orders .orderdproducts .tenis .title{
    font-size: 0.8rem;
}

.orders .orderdproducts .tenis .title h1{
    color: #b8b8b8;
    width: 250px;
    overflow: hidden;
}

.orders .orderdproducts .tenis .title p{
    color: #fff;
    opacity: 0.5;
    font-size: 1rem;
}

.orders .orderdproducts .tenis .delete i{
    font-size: 2rem;
    color: rgba(255, 61, 61, 0.637);
    cursor: pointer;
}

















